---
interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props as Props

const items = [
  {
    title: 'Оставляете заявку или связываетесь с нами',
    description: 'Мы обсуждаем ваши пожелания по авто, бюджет, сроки и отвечаем на все вопросы.'
  },
  {
    title: 'Подбираем варианты',
    description: 'Находим подходящие автомобили по вашим критериям, присылаем отчёты, фото и видео.'
  },
  {
    title: 'Заключаем договор',
    description:
      'Официально фиксируем условия, стоимость и сроки. Всё прозрачно и юридически грамотно.'
  },
  {
    title: 'Проводим проверку и выкуп',
    description: 'Проверяем авто по базам, подтверждаем техническое состояние и оформляем покупку.'
  },
  {
    title: 'Доставка и растаможка',
    description: 'Организуем транспортировку, занимаемся таможенным оформлением и документами.'
  },
  {
    title: 'Передаём авто вам',
    description:
      'Ставим машину на учёт, выдаём ключи и полный пакет документов. Вы просто садитесь за руль.'
  }
]
---

<section
  class:list={['process', 'container mt-40 devices:mt-16', className]}
  id="process"
  {...props}
>
  <h2 class="font-title text-title-48 devices:text-title-32">Процесс сотрудничества</h2>
  <ul class="process__list mt-20 flex flex-col devices:mt-10">
    {
      items.map(({ title, description }, index) => (
        <li
          class="process__item"
          data-process-item={index + 1}
        >
          <div class="process__item-content">
            <div class="process__item-text">
              <h3 class="font-title text-title-32 devices:text-title-18">{title}</h3>
              <p class="text-18 text-primary/70 devices:text-16">{description}</p>
            </div>
            <div class="flex flex-col items-center">
              <span
                class="process__item-number"
                data-process-number
              >
                {index + 1}
              </span>
              <div class="process__item-line">
                <div
                  class="process__item-line-progress"
                  data-process-progress
                />
              </div>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</section>

<style>
  @import './process.scss';
</style>
