.process {
  position: static;

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    will-change: opacity, transform;

    @media #{media('<',d)} {
      display: block;
    }

    &:nth-child(odd) {
      .process__item-content {
        margin-left: auto;
        transform: translateX(rem(40px));

        @media #{media('<',d)} {
          transform: none;
          margin-left: 0;
        }
      }
    }

    &:nth-child(even) {
      .process__item-content {
        grid-column: 2 / -1;
        margin-right: auto;
        transform: translateX(rem(-40px));
        flex-direction: row-reverse;

        @media #{media('<',d)} {
          transform: none;
          margin-right: 0;
        }
      }

      .process__item-text {
        text-align: left;
      }
    }

    &:last-child {
      .process__item-line {
        display: none;
      }
    }

    &.active {
      .process__item-number {
        background-color: #EF233C;
        border-color: #EF233C;
        color: #fff;
        box-shadow: 0 0 80px 0 #EF233C;
        transition: color $transition, border-color $transition, background-color $transition, box-shadow $transition;
      }
    }

    &-content {
      display: flex;
      gap: rem(48px);

      @media #{media('<',d)} {
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: rem(24px);
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: rem(12px);
      width: rem(580px);
      text-align: right;

      @media #{media('<',d)} {
        width: auto;
        gap: rem(8px);
        text-align: left;
      }
    }

    &-number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(80px);
      height: rem(80px);
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #0d1b2a;
      transition: color $transition, border-color $transition, background-color $transition, box-shadow $transition;
      will-change: background-color, border-color, color, box-shadow;

      @apply text-primary;

      @media #{media('<',d)} {
        width: rem(52px);
        height: rem(52px);
      }
    }

    &-line {
      position: relative;
      width: rem(2px);
      height: rem(180px);
      background-color: #ADB5BD;
      margin-block: rem(8px);
      transition: background-color $transition;

      @media #{media('<',d)} {
        width: 1px;
        height: rem(100px);
        min-block: rem(4px);
      }

      &-progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: top;
        background-color: #EF233C;
        will-change: transform;
      }
    }
  }
}