---
import Modal from '@shared/ui/modal/Modal.astro'
import Icon from '@shared/ui/icon/Icon.astro'

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props as Props

export { ErrorModal }
---

<Modal
  id="error-modal"
  class:list={['error-modal', className]}
  {...props}
>
  <div
    class="error-modal__body"
    slot="content"
  >
    <Icon
      name="error"
      class="error-modal__icon"
    />
    <div class="error-modal__content">
      <p class="error-modal__text">Что-то пошло не так<br />Пожалуйста, попробуйте позже</p>

      <button
        type="button"
        data-modal-close="error-modal"
        class="flex items-center justify-center gap-5 rounded-2xl bg-accent px-10 py-6 transition-all hover:bg-accent-dark devices:rounded-xl devices:px-8 devices:py-4"
      >
        <span class="text-18 text-white devices:text-16">Понятно</span>
      </button>
    </div>
  </div>
</Modal>

<style>
  @import './error-modal.scss';
</style>
