.hero {
  display: flex;
  width: 100%;
  height: 100dvh;
  min-height: rem(800px);
  padding: rem(24px);

  @media #{media('<',d)} {
    padding: 0;
    min-height: rem(460px);
  }

  &__container {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: rem(20px);
    overflow: hidden;

    @media #{media('<',d)} {
      border-radius: 0;
      padding-inline: rem(16px);
    }
  }

  &__image {
    position: absolute;
    inset: 0;

    @media #{media('<',d)} {
      :global(.picture__img) {
        object-position: right;
      }
    }
  }

  &__content {
    position: relative;
    max-width: rem(1680px);
    width: 100%;
    margin-inline: auto;
    margin-top: rem(150px);
    padding-bottom: rem(80px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media #{media('<',d)} {
      margin-top: rem(80px);
      padding-bottom: rem(40px);
      max-width: unset;
    }
  }
}