---
import Picture from '@shared/ui/picture/Picture.astro'

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props as Props
---

<section
  class:list={['hero', className]}
  {...props}
>
  <div class="hero__container">
    <Picture
      src="hero"
      alt="hero"
      class="hero__image"
    />

    <header class="hero__header header container">
      <a
        href="#"
        class="header__logo font-title text-title-24"
        >PETRO AUTO</a
      >

      <nav>
        <ul class="flex gap-6">
          <li>
            <a
              href="#about"
              class="header__link text-18"
              >О нас</a
            >
          </li>
          <li>
            <a
              href="#process"
              class="header__link text-18"
              >Процесс</a
            >
          </li>
          <li>
            <a
              href="#completed"
              class="header__link text-18"
              >Выполненные заказы</a
            >
          </li>
          <li>
            <a
              href="#advantages"
              class="header__link text-18"
              >Преимущества</a
            >
          </li>
          <li>
            <a
              href="#reviews"
              class="header__link text-18"
              >Отзывы</a
            >
          </li>
          <li>
            <a
              href="#contacts"
              class="header__link text-18"
              >Контакты</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <h1 class="hero__title relative font-title text-title-94 text-white">
      Автомобили со всего мира под ключ
    </h1>

    <!-- <p class="hero__description text-18">
      Мы предлагаем широкий выбор автомобилей из разных стран мира. Наши специалисты помогут вам
      выбрать и купить автомобиль, который соответствует вашим требованиям и бюджету.
    </p> -->
  </div>
</section>

<style>
  @import './hero.scss';
</style>
