---
import Picture from '@shared/ui/picture/Picture.astro'

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props as Props
---

<section
  class:list={['hero', className]}
  id="hero"
  {...props}
>
  <div class="hero__container">
    <Picture
      src="hero"
      alt="hero"
      class="hero__image"
    />

    <div class="hero__content relative">
      <div class="flex flex-col gap-12">
        <h1
          class="hero__title relative max-w-5xl font-title text-title-94 leading-none text-white devices:max-w-full devices:text-center devices:text-title-32"
        >
          Автомобили под ключ со&nbsp;всего мира
        </h1>

        <div class="flex max-w-3xl gap-6 devices:max-w-full devices:gap-4">
          <span class="min-h-full w-2 shrink-0 bg-accent devices:w-1"></span>

          <div class="flex flex-col gap-6 devices:gap-4">
            <p class="text-28 text-white devices:text-18">
              Сэкономьте <b>до 40%</b> на покупке автомобиля
            </p>
            <p class="text-28 text-white devices:text-18">
              Подберём <b>лучший вариант</b>, организуем доставку в Воронеж и <b
                >полное оформление</b
              >
              под ключ
            </p>
          </div>
        </div>
      </div>

      <div class="relative flex h-full w-full items-end">
        <button
          data-modal-trigger="feedback-modal"
          class="sticky bottom-6 mt-28 flex items-center justify-center gap-5 rounded-2xl bg-accent px-10 py-6 transition-colors hover:bg-accent-dark devices:mt-16 devices:px-8 devices:py-4 mobile:w-full"
        >
          <span class="text-28 text-white devices:text-18">Подобрать автомобиль</span>
        </button>
      </div>
    </div>
  </div>
</section>

<style>
  @import './hero.scss';
</style>
