---
import Icon from '@shared/ui/icon/Icon.astro'

export { Header }
---

<header class="header container">
  <span class="header__logo text-24 font-bold devices:text-18">PETRO AUTO</span>

  <button
    class="size-8 devices"
    data-modal-trigger="mobile-menu"
  >
    <Icon
      name="burger"
      class="size-full"
    />
  </button>

  <nav class="desktop">
    <ul class="flex gap-6 devices:gap-4">
      <li>
        <a
          href="#about"
          class="header__link text-18 devices:text-16"
          >О нас</a
        >
      </li>
      <li>
        <a
          href="#process"
          class="header__link text-18 devices:text-16"
          >Процесс</a
        >
      </li>
      <li>
        <a
          href="#completed"
          class="header__link text-18 devices:text-16"
          >Выполненные заказы</a
        >
      </li>
      <li>
        <a
          href="#advantages"
          class="header__link text-18 devices:text-16"
          >Преимущества</a
        >
      </li>
      <li>
        <a
          href="#reviews"
          class="header__link text-18 devices:text-16"
          >Отзывы</a
        >
      </li>
      <li>
        <a
          href="#contacts"
          class="header__link text-18 devices:text-16"
          >Контакты</a
        >
      </li>
    </ul>
  </nav>
</header>

<style lang="scss">
  .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    color: #fff;
    width: 100%;
    padding-top: rem(64px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{media('<',d)} {
      padding-top: rem(24px);
      align-items: flex-end;
    }

    &__link {
      position: relative;

      @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
        &:hover {
          &::before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: rem(-4px);
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform $transition;

        @media #{media('<',d)} {
          bottom: rem(-3px);
        }
      }
    }
  }
</style>
