.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0 auto;

  color: #000000;

  main {
    flex: 1 0;
  }
}

.page-container {
  min-height: 100vh;
}