---
import Cookies from '@widgets/cookies/Cookies.astro'
import Footer from '@widgets/footer/Footer.astro'
import Header from '@widgets/header/Header.astro'
import MobileMenu from '@widgets/mobile-menu/MobileMenu.astro'

interface Props {
  pageName?: string
  props?: any
}

const { pageName, ...props } = Astro.props as Props

export { Layout }
---

<!doctype html>
<html
  lang="ru"
  data-overlayscrollbars-initialize
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon/favicon.svg"
    />
    <link
      rel="shortcut icon"
      href="/favicon/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <meta
      name="apple-mobile-web-app-title"
      content="Petro Auto"
    />
    <link
      rel="manifest"
      href="/favicon/site.webmanifest"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <slot name="description">
      <meta
        name="description"
        content="Petro Auto - это компания, которая занимается импортом автомобилей из США, Европы, Азии. Мы предлагаем широкий выбор автомобилей, которые соответствуют всем стандартам качества и безопасности."
      />
    </slot>

    <slot name="opengraph">
      <meta
        property="og:title"
        content="Petro Auto - импорт автомобилей со всего мира"
      />
      <meta
        property="og:description"
        content="Petro Auto - это компания, которая занимается импортом автомобилей из США, Европы, Азии. Мы предлагаем широкий выбор автомобилей, которые соответствуют всем стандартам качества и безопасности."
      />
      <meta
        property="og:image"
        content="/favicon/opengraph.png"
      />
      <meta
        property="og:url"
        content="https://petroauto.ru"
      />
      <meta
        property="og:type"
        content="website"
      />
    </slot>

    <title>{pageName}</title>
  </head>
  <body
    data-scrollbar
    data-overlayscrollbars-initialize
  >
    <div class="wrapper">
      <Cookies />
      <MobileMenu />
      <Header />
      <main
        class="page-container"
        {...props}
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  @import '@shared/styles/index.scss';
  @import './index.scss';
</style>

<script src="@shared/scripts/index.ts"></script>
